/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Trellis implementation : © Jacques de Metz <demetz.jacques@gmail.com>.
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */


/****************** Dimensions ******************/
#map_container {
    position: relative;
    height: 400px;
    width: 100%;
}

/*** Sizes & positions ***/
#map_container {
    --tile_width: 159px;
    --tile_margin: 0px;
}

#logs {
    --tile_width: 50px;
    --tile_margin: 0px;
}

/****************** Tiles ******************/

#map_container #map_scrollable .trl_tile,
#map_container #map_scrollable_oversurface .trl_tile {
    position: absolute;
}

.trl_tile {
    width: var(--tile_width);
    height: calc(var(--tile_width) * 0.866);
}

.trl_tile .hexagon {
    display: inline-block;
    width: calc(var(--tile_width));
    height: calc(var(--tile_width) * 0.866);
    stroke-width: 0;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)
}

.trl_tile .hexagon #trl_tile_rotate {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%)
}

.hexagon {
    display: none;
}

.trl_tile.selected .hexagon {
    stroke-width: calc(4px/var(--scrollmap_zoom));
}

.trl_tile.selected .hexagon {
    display: block;
    color: red;
}


.clicked_spot {
    z-index: 100;
}

/*** Actual tiles ***/

.trl_tile_actual_tile {
    background-image: url(img/tiles.png);
    background-size: 800% 800%;
}


.trl_tile_actual_tile.selected .hexagon {
    box-sizing: border-box;
    background-origin: border-box;
}

/* Pre-planted tile */
.trl_tile_actual_tile.pre_planted {
    opacity: 0.5;
}

/*** Vacant spots ***/
.trl_tile_possible_spot {
    opacity: 0.5;
}

.trl_tile_possible_spot .hexagon {
    background-image: none;
    background-color: white;
}

/*** Last tile placed by other player ***/
.trl_tile_actual_tile.border_ffffff .hexagon {
    stroke-width: calc(4px/var(--scrollmap_zoom));
    display: block;
    color: #ffffff;
}

.trl_tile_actual_tile.border_168d63 .hexagon {
    stroke-width: calc(4px/var(--scrollmap_zoom));
    display: block;
    color: #168d63;
}

.trl_tile_actual_tile.border_ff775f .hexagon {
    stroke-width: calc(4px/var(--scrollmap_zoom));
    display: block;
    color: #ff775f;
}

.trl_tile_actual_tile.border_ffd26b .hexagon {
    stroke-width: calc(4px/var(--scrollmap_zoom));
    display: block;
    color: #ffd26b;
}


/*** Rotating arrows ***/

#trl_tile_rotate {
    position: absolute;
    font-size: calc(var(--tile_width) / 3);
    width: calc(var(--tile_width) / 2);
    font-weight: bold;
    top: 0;
    height: 100%;
    width: 100%;
}

#trl_tile_rotate div {
    top: 0;
    width: 30%;
    height: 80%;
    padding: 10%;
    text-align: right;
}

#trl_tile_rotate div:hover {
    background: lightblue;
}

#trl_tile_rotate_clockwise {
    position: absolute;
    text-align: left !important;
    left: 50%;
}


/****************** Flowers ******************/

.trl_flower {
    width: calc(var(--tile_width) / 6);
    height: calc(var(--tile_width) * 0.866 / 6);

    position: absolute;
    background-image: url(img/flowers.png);
    background-size: 400% 100%;
}

.trl_flower_ffffff {
    background-position: 66%;
}

.trl_flower_168d63 {
    background-position: 33%;
}

.trl_flower_ff775f {
    background-position: 0;
}

.trl_flower_ffd26b {
    background-position: 100%;
}

.trl_flower_angle_30 {
    top: 60%;
    left: 70%;
}

.trl_flower_angle_90 {
    top: 80%;
    left: 40%;
}

.trl_flower_angle_150 {
    top: 60%;
    left: 15%;
}

.trl_flower_angle_210 {
    top: 20%;
    left: 15%;
}

.trl_flower_angle_270 {
    top: 5%;
    left: 40%;
}

.trl_flower_angle_330 {
    top: 20%;
    left: 70%;
}

/****************** Blooming spots ******************/

.trl_flower_spot_container {
    pointer-events: none;
}

.trl_flower_spot_container .trl_flower {
    background-image: none;
    background-color: grey;
    opacity: 0.8;

    pointer-events: initial;
}

.trl_flower_spot_container .trl_flower.selected {
    background-image: url(img/flowers.png);
}

.trl_flower_spot_container .hexagon,
.trl_flower_spot_container .hexagon:before,
.trl_flower_spot_container .hexagon:after {
    background: none;
}

.trl_flower_spot {
    border: 3px solid;
}

.trl_flower_spot.selected {
    border-color: lightgreen;
}

.trl_flower_spot:not(.selected) {
    border-color: red;
}


/****************** My hand ******************/

#trl_hand {
    transform-origin: 0px 0px;
    width: calc((var(--tile_width) + var(--tile_margin)) * 3);
    margin-left: 10px;
}

#trl_hand.trl_hand_at_bottom {
    position: absolute;
    transform-origin: left bottom;
    bottom: 0px;
    left: 10px;
}

#trl_hand .trl_tile {
    display: inline-block;

    margin-left: var(--tile_margin);
}

.spectatorMode #trl_hand,
.spectatorMode .trl_flower_spot_container {
    display: none;
}

/****************** Misc ******************/

/* Add shadow to make text readable */
#player_board_inner_ffffff .player-name a,
#player_board_inner_ffd26b .player-name a {
    text-shadow: 0 0 3px black;
}

.player_board_content .trl_gift {
    margin-left: 5px;
    margin-right: 15px;
    background: url("img/sprite.png") no-repeat left;
    background-size: 300% 100%;
    display: inline-block;

    height: 15px;
    width: 15px;

    color: black;
    text-shadow: 0 0 10px white;
}

.player_board_content .trl_flowers_left {
    margin-left: 5px;
    background-image: url(img/flowers.png);
    background-size: 400% 100%;
    display: inline-block;

    height: 15px;
    width: 15px;

    color: black;
    text-shadow: 0 0 10px white;
}

#logs .trl_vine_color {
    width: 50px;
    height: 24px;
    background: url("img/vines.png");
    background-size: 100% 600%;
}

#logs .trl_vine_color_orange {
    background-position: 0 0;
}

#logs .trl_vine_color_green {
    background-position: 0 20%;
}

#logs .trl_vine_color_yellow {
    background-position: 0 40%;
}

#logs .trl_vine_color_pink {
    background-position: 0 60%;
}

#logs .trl_vine_color_blue {
    background-position: 0 80%;
}

#logs .trl_vine_color_purple {
    background-position: 0 100%;
}

.clickable {
    cursor: pointer;
}