/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Trellis implementation : © Jacques de Metz <demetz.jacques@gmail.com>.
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */


/****************** Dimensions ******************/
@media only screen and (min-width: 1350px) {
    #map_container {
        width: 100%;
        height: 800px;
    }

    #map_container {
        --tile_width: 316px;
        --tile_margin: 4px;
    }

    #trl_hand {
        --tile_width: 150px;
        --tile_margin: 6px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1350px) {
    #map_container {
        height: 400px;
    }

    /*** Sizes & positions ***/
    #map_container {
        --tile_width: 159px;
        --tile_margin: 2px;
    }

    #trl_hand {
        k --tile_width: 75px;
        --tile_margin: 3px;
    }

}

@media only screen and (max-width: 1000px) {
    #map_container {
        height: 400px;
    }

    /*** Sizes & positions ***/
    #map_container {
        --tile_width: 100px;
        --tile_margin: 2px;
    }

    #trl_hand {
        --tile_width: 50px;
        --tile_margin: 3px;
    }

}

#logs {
    --tile_width: 50px;
    --tile_margin: 0px;
}

/****************** Scrollmap ******************/

/** Scrollable area **/

#map_container {
    position: relative;
    overflow: hidden;
    touch-action: none;
}

#map_scrollable,
#map_scrollable_oversurface {
    position: absolute;
}

#map_surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
}

/** This is some extra stuff to extend the container **/

#map_footer {
    text-align: center;
}

/** Move & zoom arrows **/

#movetop,
#moveleft,
#moveright,
#movedown,
#zoomplus,
#zoomminus {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
}

#movetop,
#moveleft,
#moveright,
#movedown {
    background-image: url('../../../img/common/arrows.png');
}

#movetop {
    top: 0px;
    left: calc(50% - 16px);
    background-position: 0px 32px;
}

#moveleft {
    top: calc(50% - 16px);
    left: 0px;
    background-position: 32px 0px;
}

#moveright {
    top: calc(50% - 16px);
    right: 0px;
    background-position: 0px 0px;
}

#movedown {
    bottom: 0px;
    left: calc(50% - 16px);
    background-position: 32px 32px;
}

#zoomplus,
#zoomminus {
    background-image: url('img/sprite.png');
    background-size: 300% 100%;
}

#zoomplus {
    bottom: 0px;
    left: calc(50% + 20px);
    background-position: 50% 0;
}

#zoomminus {
    bottom: 0px;
    left: calc(50% - 20px - 32px);
    background-position: 100% 0;
}


/****************** Tiles ******************/

#map_container .trl_tile {
    position: absolute;
}

.trl_tile {
    width: var(--tile_width);
    height: calc(var(--tile_width) * 0.866);
}

.trl_tile .hexagon {
    display: inline-block;
    width: calc(var(--tile_width) * 0.5);
    height: calc(var(--tile_width) * 0.866);

    /*border-top: 1px black solid;
    border-bottom: 1px black solid;*/

    margin-left: calc(var(--tile_width) * 0.25);
}

.trl_tile .hexagon:before,
.trl_tile .hexagon:after {
    content: "";
    margin: 0;
    display: block;
    position: relative;
    width: inherit;
    height: inherit;

    border: inherit;
}

.trl_tile .hexagon:before {
    transform: rotate(60deg);
    margin-top: -1px;
}

.trl_tile .hexagon:after {
    transform: rotate(-60deg);
    margin-top: calc(var(--tile_width) * -0.866 - 2px);
}

/*** Actual tiles ***/

.trl_tile_actual_tile {
    background-image: url(img/tiles.png);
    background-size: 800% 800%;
}

.trl_tile_actual_tile.selected .hexagon,
.trl_tile_actual_tile.selected .hexagon:before,
.trl_tile_actual_tile.selected .hexagon:after {
    border-top: red solid 2px;
    border-bottom: red solid 2px;
}

/*** Vacant spots ***/
.trl_tile_possible_spot {
    opacity: 50%;
}

.trl_tile_possible_spot .hexagon,
.trl_tile_possible_spot .hexagon:before,
.trl_tile_possible_spot .hexagon:after {
    background-image: none;
    background-color: white;
}




/*** Rotating arrows ***/

#trl_tile_rotate {
    position: absolute;
    font-size: calc(var(--tile_width) / 6);
    width: calc(var(--tile_width) / 2);
    top: 0;
    left: calc(var(--tile_width) / 4);
    text-align: center;
}

#trl_tile_rotate div {
    display: inline-block;
}

#trl_tile_rotate_clockwise {
    margin-left: calc(var(--tile_width) / 6);
}


/****************** Flowers ******************/

.trl_flower {
    width: calc(var(--tile_width) / 6);
    height: calc(var(--tile_width) * 0.866 / 6);

    position: absolute;
    background-image: url(img/flowers.png);
    background-size: 400% 100%;
}

.trl_flower_ffffff {
    background-position: 66%;
}

.trl_flower_168d63 {
    background-position: 33%;
}

.trl_flower_ff775f {
    background-position: 0;
}

.trl_flower_ffd26b {
    background-position: 100%;
}

.trl_flower_angle_30 {
    top: 60%;
    left: 70%;
}

.trl_flower_angle_90 {
    top: 80%;
    left: 40%;
}

.trl_flower_angle_150 {
    top: 60%;
    left: 15%;
}

.trl_flower_angle_210 {
    top: 20%;
    left: 15%;
}

.trl_flower_angle_270 {
    top: 5%;
    left: 40%;
}

.trl_flower_angle_330 {
    top: 20%;
    left: 70%;
}

/****************** Blooming spots ******************/

.trl_flower_spot_container {
    pointer-events: none;
}

.trl_flower_spot_container .trl_flower {
    background-image: none;
    background-color: grey;
    opacity: 0.8;

    pointer-events: initial;
}

.trl_flower_spot_container .trl_flower.selected {
    background-image: url(img/flowers.png);
}

.trl_flower_spot_container .hexagon,
.trl_flower_spot_container .hexagon:before,
.trl_flower_spot_container .hexagon:after {
    background: none;
}

.trl_flower_spot {
    border: 3px solid;
}

.trl_flower_spot.selected {
    border-color: lightgreen;
}

.trl_flower_spot:not(.selected) {
    border-color: red;
}


/****************** My hand ******************/

#trl_hand {
    margin-left: auto;
    margin-right: auto;

    /* The "*5" gives additional space for borders when tiles are selected */
    width: calc((var(--tile_width) + var(--tile_margin)) * 5);
    text-align: center;
}

#trl_hand .trl_tile {
    display: inline-block;

    margin-left: var(--tile_margin);
}

#trl_hand .trl_tile div {
    /* Not needed because "left" is not defined */
    margin-left: 0;
}

.spectatorMode #trl_hand,
.spectatorMode .trl_flower_spot_container {
    display: none;
}

/****************** Misc ******************/

.player_board_content .trl_gift {
    margin-left: 5px;
    background: url("img/sprite.png") no-repeat left;
    background-size: 300% 100%;
    display: inline-block;

    height: 15px;
    width: 15px;

    color: black;
    text-shadow: 0 0 10px white;
}

#logs .trl_vine_color {
    width: 50px;
    height: 24px;
    background: url("img/vines.png");
    background-size: 100% 600%;
}

#logs .trl_vine_color_orange {
    background-position: 0 0;
}

#logs .trl_vine_color_green {
    background-position: 0 20%;
}

#logs .trl_vine_color_yellow {
    background-position: 0 40%;
}

#logs .trl_vine_color_pink {
    background-position: 0 60%;
}

#logs .trl_vine_color_blue {
    background-position: 0 80%;
}

#logs .trl_vine_color_purple {
    background-position: 0 100%;
}

.clickable {
    cursor: pointer;
}